{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="about-container">
    <div class="about-header">
        <h2>{% trans "О нас" %}</h2>
    </div>
    <div class="about-details">
        <p>
            {% trans "Привет! Я студент, увлеченный разработкой веб-приложений. Этот сайт - мой проект, где я стремлюсь создать высококачественное веб-приложение для стенографии." %}
        </p>
        <p>
            {% trans "Моя страсть к программированию и технологиям вдохновила меня на создание этого сайта. Я учусь и исследую новые подходы к разработке, чтобы предложить пользователям инновационное и удобное приложение для записи и перевода речи." %}
        </p>
        <p>
            {% trans "Хотя я работаю в одиночку, я стремлюсь к профессионализму и качеству, которые обычно свойственны команде. Я уделяю внимание каждой детали, чтобы обеспечить удобство использования и эффективность приложения." %}
        </p>
        <p>
            {% trans "Моя цель - упростить процесс стенографии для студентов, профессионалов и всех, кто в ней нуждается. Я стремлюсь создать приложение, которое поможет им работать быстрее и эффективнее." %}
        </p>
        <p>
            {% trans "Присоединяйтесь ко мне в этом увлекательном путешествии! Я уверен, что с моим приложением ваша работа с текстом станет более удобной и продуктивной." %}
        </p>
    </div>
</div>
{% endblock %}
