{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <style>

    /* Welcome section styles */
    .welcome-section {
        text-align: center;
        margin-bottom: 30px;
    }

    /* Features section styles */
    .features-section {
        margin-bottom: 20px;
    }

    .feature {
        margin-bottom: 20px;
    }

    /* Usage example styles */
    .usage-example {
        margin-bottom: 25px;
    }

    .example {
        margin-bottom: 20px;
    }

    /* Heading styles */
    h2, h3, h4 {
        color: #333;
    }

    /* Paragraph styles */
    p {
        color: #666;
    }

    /* List styles */
    ol {
        margin-left: 20px;
    }
</style>
<div class="encrypt-form-container">
<div class="welcome-section">
    <h2>{% trans "Добро пожаловать на наш сайт!" %}</h2>
    <p>{% trans "Мы рады приветствовать вас на нашем сайте, где вы можете узнать о множестве интересных функций, включая шифрование и дешифрование текста, а также скрытие фотографий в других изображениях." %}</p>
</div>

<div class="features-section">
    <h3>Функции:</h3>

    <div class="feature">
        <h4>{% trans "Шифрование и дешифрование текста:" %}</h4>
        <p>{% trans "Шифрование текста - это процесс преобразования обычного текста в непонятный код, который может быть прочитан только с помощью правильного ключа или алгоритма. Дешифрование - обратный процесс, при котором зашифрованный текст преобразуется обратно в исходный." %}</p>
    </div>

    <div class="feature">
        <h4>{% trans "Скрытие фото в других изображениях:" %}</h4>
        <p>{% trans "Эта функция позволяет вам скрыть одно изображение внутри другого, делая его незаметным для обычного взгляда. Это может быть использовано для стеганографии - способа передачи информации, при котором сокрытые данные не вызывают подозрений." %}</p>
    </div>
</div>

<div class="usage-example">
    <h3>{% trans "Пример использования:" %}</h3>
    <div class="example">
        <h4>{% trans "Шифрование текста:" %}</h4>
        <ol>
            <li>{% trans "Введите текст, который вы хотите зашифровать." %}</li>
            <li>{% trans "Выберите ключ или метод шифрования." %}</li>
            <li>{% trans "Получите зашифрованный текст." %}</li>
        </ol>
    </div>

    <div class="example">
        <h4>{% trans "Дешифрование текста:" %}</h4>
        <ol>
            <li>{% trans "Введите зашифрованный текст." %}</li>
            <li>{% trans "Введите ключ или метод, использованный для шифрования." %}</li>
            <li>{% trans "Получите исходный текст." %}</li>
        </ol>
    </div>

    <div class="example">
        <h4>{% trans "Скрытие фото в другом изображении:" %}</h4>
        <ol>
            <li>{% trans "Выберите изображение, которое вы хотите скрыть." %}</li>
            <li>{% trans "Выберите изображение, в которое вы хотите его скрыть." %}</li>
            <li>{% trans "Получите новое изображение, в котором первое изображение скрыто внутри второго." %}</li>
        </ol>
    </div>
</div>
</div>
{% endblock %}
